@model PMWebApp.Models.InputModel.SigninViewModel

<div class="row text-dark">
    <div class="col-3 mx-auto p-5 mt-3 mb-3 border rounded">
        <h1 class="display-5 py-2 text-center font-weight-light mb-1">Login</h1>
        <hr />
        <form method="post" action="@Url.Action("Index")" class="p-3 ml-3">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="username"><span class="font-weight-bold">Username</span></label>
                <input type="text" class="form-control" id="username" name="username" value="@Model.username" autofocus>
                <small class="font-italic text-muted">Please use your email to login.</small>
                <small><strong>@Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger d-block form-control-feedback" })</strong></small>
            </div>
            <div class="form-group">
                <label for="password"><span class="font-weight-bold">Password</span></label>
                <input type="password" class="form-control" id="password" name="password">
                <small><strong>@Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })</strong></small>
            </div>

            @if (Model.isInvalid)
            {
                <div class="alert alert-danger font-weight-bold" role="alert">
                    Invalid username or password.
                </div>
            }

            <input type="submit" class="btn btn-success btn-block mt-4" name="btnLogin" cla value="Login" />
        </form>
    </div>
</div>
