@model PMWebApp.Core.ViewModels.ProjectAssignmentViewModel
<div class="row">
    <div class="col-12 mb-5 border-bottom p-3">
        <span class="display-4 text-info">Project Assignment</span>
        <a href="@Url.Action("Index", "Projects")" class="btn btn-dark btn-lg mr-3 float-right font-weight-bold shadow"><i class="fa fa-arrow-left"></i> Go Back</a>
    </div>
</div>

<h2>@Model.ProjectDetails.ProjectName</h2>

<div id="commandResult"></div>
<div class="container">
    <div class="col-6 mx-auto p-4 mb-5">
        <form method="post" action="@Url.Action("Assign")" class="col-12" id="frmAddMemberToProject">
            @Html.AntiForgeryToken()
            <input type="hidden" name="projectId" class="form-control form-control-lg" id="projectId" value="@Model.ProjectDetails.ProjectId">

            <div class="form-group">
                <select class="form-control" name="personId" id="personId">
                    @if (Model.NonMembers != null && Model.NonMembers.Count() != 0)
                    {
                        foreach (var item in Model.NonMembers)
                        {
                            <option value="@Html.DisplayFor(modelItem => item.PersonId)"> @Html.DisplayFor(modelItem => item.DisplayName)</option>
                        }
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-success float-lg-right font-weight-bold btn-lg">Add</button>
        </form>
    </div>

    <div class="col-6 mx-auto p-4 mb-5">
            <table class="table shadow mb-5 text-center">
                <tbody>
                    @foreach (var item in Model.ProjectDetails.Members)
                    {
                        <form method="post" action="@Url.Action("Remove", new { projectId = Model.ProjectDetails.ProjectId, personId = item.PersonId} )" id="frmMemberRemove_@Html.DisplayFor(modelItem => item.PersonId)">
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.DisplayName)</td>
                                <td><button type="submit" class="btn btn-danger" onclick="RemoveMember(@Html.DisplayFor(modelItem => item.PersonId))">Remove</button></td>
                            </tr>
                        </form>
                    }

                </tbody>
            </table>
        </form>

    </div>
</div>


@section scripts {

    <script type="text/javascript">
        $("#frmAddMemberToProject").on('submit', function () {
            event.preventDefault();
            addMemberHttpRequest();
            reloadMemberList();
        });

        function RemoveMember(personId) {      
            event.preventDefault();
            removeMemberHttpRequest(personId);
        }
    

        function addMemberHttpRequest() {
              $.ajax({
                 type: "POST",
                 data: {
                    "projectId": $("#projectId").val(),
                    "personId": $("#personId").val(),
                  },
                 url: $("#frmAddMemberToProject").attr("action"),
                 success: function (data) {
                    $("#commandResult").html(data);
                 }
              });
        }

        function removeMemberHttpRequest(personId) {
             $.ajax({
                type: "POST",
                data: {
                    "projectId": $("#projectId").val(),
                    "personId": $("#personToRemove").val(),
                },
                url: $("#frmMemberRemove_" + personId).attr("action"),
                success: function (data) {
                    $("#commandResult").html(data);
                }
            });
        }

        function reloadMemberList() {
            $.ajax({
                type: "GET",
                url: "/Projects/Assignments/",
                success: function (data) {
                    $("#commandResult").html(data);
                }
            });
        }
    </script>
   
}
