@model PMWebApp.Models.InputModel.CreateOrUpdateProjectInputModel

<div class="row">
    <div class="col-12 mb-5 border-bottom p-3">
        <span class="display-4 text-info">Edit Project</span>
    </div>
</div>

<div class="container">
    <div class="col-6 mx-auto p-4 mb-5">
        <div class="row">
            <form method="post" action="@Url.Action("Edit")" class="col-12">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="projectCode"><strong>Project Code:</strong></label>
                    <input type="text" name="projectCode" class="form-control form-control-lg" id="projectCode" value="@Model.projectCode" disabled>
                </div>
                <div class="form-group">
                    <label for="projectName"><strong>Project Name:</strong></label>
                    <input type="text" name="projectName" class="form-control form-control-lg" id="projectName">
                    <small><strong>@Html.ValidationMessageFor(model => model.projectName, "", new { @class = "text-danger d-block form-control-feedback" })</strong></small>
                </div>
                <div class="form-group">
                    <label for="projectBudget"><strong>Project Budget:</strong></label>
                    <input type="text" name="projectBudget" class="form-control form-control-lg" id="projectBudget">
                    <small><strong>@Html.ValidationMessageFor(model => model.projectBudget, "", new { @class = "text-danger d-block form-control-feedback" })</strong></small>
                </div>
                <div class="form-group">
                    <label for="projectRemarks"><strong>Remarks:</strong></label>
                    <input type="text" name="projectRemarks" class="form-control form-control-lg" id="projectRemarks">
                    <small><strong>@Html.ValidationMessageFor(model => model.projectRemarks, "", new { @class = "text-danger d-block form-control-feedback" })</strong></small>
                </div>
                <button type="submit" class="btn btn-success float-lg-right font-weight-bold btn-lg">Submit</button>
            </form>
        </div>
    </div>
</div>


