@model IEnumerable<PMWebApp.Models.OutputModel.ProjectsViewModel>

    <div class="row">
        <div class="col-12 mb-5 border-bottom p-3">
            <span class="display-4 text-info">Projects</span>
            <a href="@Url.Action("Create","Projects")" class="btn btn-success btn-lg mr-3 float-right font-weight-bold shadow">New Project</a>
        </div>
        
        <div class="col-10 mx-auto p-4">
            <table class="table shadow mb-5 text-center">
                <thead class="thead-dark">
                    <tr>
                        <th>Project Code</th>
                        <th>Project Name</th>
                        <th>Budget</th>
                        <th>Active</th>
                        <th colspan="3">Action</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <strong>@Html.DisplayFor(modelItem => item.projectCode)</strong>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.projectName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.projectBudget)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.isActive)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>



