@model IEnumerable<PMWebApp.Models.OutputModel.ProjectsViewModel>

    <div class="row">
        <div class="col-12 mb-5 border-bottom p-3">
            <span class="display-4 text-info">Projects</span>

            <a href="@Url.Action("Create","Persons")" class="btn btn-success btn-lg mr-3 float-right font-weight-bold shadow"><i class="fa fa-user"></i>&nbsp;Create Person</a>
            <a href="@Url.Action("Create","Projects")" class="btn btn-primary btn-lg mr-3 float-right font-weight-bold shadow"><i class="fa fa-plus"></i>&nbsp;Create Project</a>
        </div>
        
        <div class="col-10 mx-auto p-4">

            @if (Model.Count() == 0)
            {
                <h2>No projects available.</h2>
            }
            else
            {
                <table class="table shadow mb-5 text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th>Project Code</th>
                            <th>Project Name</th>
                            <th>Budget</th>
                            <th>Tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                 <td>
                                    @Html.DisplayFor(modelItem => item.projectCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.projectName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.projectBudget)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.projectCode }) |
                                    @Html.ActionLink("Assignments", "Assignments", new { id = item.projectCode })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }


        </div>
        </div>



